/*Assignment Two*/

@font-face {
    font-family: 'NotoSans';
    src: url('fonts/NotoSans-VariableFont.ttf'),
         url('fonts/NotoSans-Italic-VariableFont.ttf');
}


body {
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(7, 0, 31),rgb(0, 3, 100) );
    margin: 0px;
    padding: 30px 120px;
    font-family: 'NotoSans';
}

.header {
    background-color: rgba(113, 126, 168, 0.7);
    color: whitesmoke;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 10px 25px;
    border-radius: 20px;
}
#img1 {
    justify-self: center;
}
.butt1 {
    background-color: rgb(47, 52, 69);
    border-radius: 25%;
    border: none;
    padding: 10px;
}
.butt1:focus .butt2:focus .butt3:focus {
    border: #d54413 2px solid;
}
.butt2:focus {
    border: #d54413 2px solid;
}
.butt3:focus {
    border: #d54413 2px solid;
}

.butt1:hover {
    background-color: rgb(166, 180, 220);
}
.butt2:hover {
    background-color: rgb(106, 117, 153);
}
.butt3:hover {
    background-color: #d54413;
    border: none;
}
.butt2:active {
    background-color: #d54413;
}


.bod {
    color: whitesmoke;
    margin-top: 50px;
    justify-content: center;
}
.bod-head {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10px 0px;
}
.Exlist {
    font-size: 25px;
    margin: 0px;
    align-self: center;
}
.buttons {
    align-self: center;
}
.butt2 {
    background-color: rgb(47, 52, 69);
    border-radius: 15px;
    border: none;
    padding: 10px;
    color: whitesmoke;
    font-size: 17px;
}

.bod-bod {
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
}
.box {
    display: grid;
    grid-template-areas: 
        "img2 h5pp"
        "buts buts";
    width: 250px;
    background-color: rgba(47, 49, 56,0.7);
    border-radius: 25px;
    border: #a9a9a9a9 2px solid;
    padding: 20px;
    align-content: center;
}
.img2 {
    grid-area: img2;
}
.h5pp {
    grid-area: h5pp;
    margin: 0px 10px;
}
.buts {
    grid-area: buts;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.h55 {
    font-size: 18px;
    margin: 0px;
}
.pp {
    font-size: 12px;
    margin-top: 3px;
    color: rgb(195, 195, 195);
}
.butt3 {
    grid-area: butt3;
    background-color: rgba(47, 52, 69,0.7);
    border-radius: 15px;
    border: rgba(245, 245, 245, 0.708) 2px solid;
    padding: 10px;
    color: whitesmoke;
}
.toggle-switch {
    grid-area: toggle-switch
}
/* Container for the toggle */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The track */
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

/* The circular slider */
.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* Toggled state */
.toggle-switch input:checked+.slider {
    background-color: #d54413;
}

.toggle-switch input:checked+.slider::before {
    transform: translateX(22px);
}


/* clicking whatnot */
.clicked1 {
    background-color: rgb(173, 196, 227); /* New color when clicked */
}
.clicked2 {
    background-color: rgb(222, 236, 255);
    color: rgb(7, 0, 31);
}
.clicked3 {
    background-color: rgb(222, 236, 255);
    color: rgb(7, 0, 31);
    border: #26293dc3 2px solid;
}
.clicked4 {
    color: rgb(7, 0, 31);
}
.clickedbg {
    background-color: rgb(173, 196, 227)
}

/* Media Query */
@media screen and (max-width: 480px) {
    body {
        padding: 30px 70px;
    }
    .bod-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .Exlist {
        font-size: 20px;
    }
    #img1 {
        width: 70%;
        height: 70%;
    }
    .butt1 {
        padding: 5px;
    }
    .butt2 {
        font-size: 12px;
    }
    .img3 {
        width: 70%;
        height: 70%;
    }
    .h55 {
        font-size: 15px;
    }
    .pp {
        font-size: 10px;
    }
}
@media screen and (max-width: 700px) {
    body {
        padding: 30px 90px;
    }
    .bod-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .Exlist {
        font-size: 22px;
    }
    #img1 {
        width: 70%;
        height: 70%;
    }
    .butt1 {
        padding: 5px;
    }
    .butt2 {
        font-size: 14px;
    }
    .h55 {
        font-size: 16px;
    }
    .pp {
        font-size: 11px;
    }
}
@media screen and (max-width: 900px) {
    body {
        padding: 30px 100px;
    }
    .bod-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .Exlist {
        font-size: 24px;
    }
    .butt1 {
        padding: 5px;
    }
    .butt2 {
        font-size: 15px;
    }
    .h55 {
        font-size: 17px;
    }
    .pp {
        font-size: 12px;
    }
}